**/.git
**/.gitignore
**/.venv
**/__pycache__
**/*.pyc
**/node_modules
**/dist
**/.vite
**/.next
**/.cache

backend/uploads
backend/.pytest_cache
backend/.ruff_cache

frontend/coverage

Mockups
docs
openspec
*.docx
*.md
!backend/scripts/*.md
